{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Tandz Tats</title>
    <link rel="stylesheet" href="{% static 'booking.css' %}">
</head>

<body>
    <!-- Title and Navbar Section -->
    <div class="main-container">
        <div class="top-container">
            <div class="title-container">
                <h2 class="main-title">Tandz Tats</h2>
                <p class="tagline">fineline tattoo artist</p>
            </div>
            <div class="navbar-container">
                <nav class="navbar">
                    <li class="navbar-list"><a href="{% url 'home' %}">Home</a></li>
                    <li class="navbar-list"><a href="{% url 'gallery' %}">Gallery</a></li>
                    <li class="navbar-list"><a href="{% url 'aftercare' %}">aftercare</a></li>
                    <li class="navbar-list"><a href="{% url 'booking' %}">Booking</a></li>
                </nav>
            </div>
        </div>
    <!-- Title and Navbar Section -->

    <!-- Booking Information -->
    <!-- paragraph of booking information, as long as a link to his Instagram account - preferably to his messages if thats possible -->
    <!-- Also, ask harry about if he wants to integrate his calendar into this - if possible, shows next 14 calendar days, with bookings available--> 

    <!-- Booking Information -->
</body>

</html>