{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Tandz Tats</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>

<body>
    <!-- Title and Navbar Section -->
    <div class="main-container">
        <div class="top-container">
            <div class="title-container">
                <h2 class="main-title">Tandz Tats</h2>
                <p class="tagline">fineline tattoo artist</p>
            </div>
            <div class="navbar-container">
                <nav class="navbar">
                    <li class="navbar-list"><a href="{% url 'home' %}">Home</a></li>
                    <li class="navbar-list"><a href="{% url 'gallery' %}">Gallery</a></li>
                    <li class="navbar-list"><a href="{% url 'aftercare' %}">aftercare</a></li>
                    <li class="navbar-list"><a href="{% url 'about' %}">About</a></li>
                </nav>
            </div>
        </div>
    <!-- Title and Navbar Section -->

    <!-- Short Gallery Section -->
    <!-- This section deals with the short gallery - an assortment of 3 random pictures from the IG. Gallery page includes all the pictures. -->

    <!--- Short Gallery Section -->

    <!-- Booking Section-->
    <!-- Includes IG link, booking information and perhaps calendar -->

    <!-- Booking Section-->

    </div>
</body>

</html>